# SeedMall 本地基础设施环境变量样例
MYSQL_ROOT_PASSWORD=root
MYSQL_PORT=3306

NACOS_PORT=8848
NACOS_GRPC_PORT=9848
NACOS_RAFT_PORT=9849

REDIS_PORT=6379

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
