# SeedMall 本地基础设施环境变量样例
MYSQL_ROOT_PASSWORD=root
MYSQL_PORT=3306
SEEDMALL_MYSQL_HOST=127.0.0.1
SEEDMALL_MYSQL_PORT=3306
SEEDMALL_MYSQL_USERNAME=root
SEEDMALL_MYSQL_PASSWORD=root

NACOS_PORT=8848
NACOS_GRPC_PORT=9848
NACOS_RAFT_PORT=9849
SEEDMALL_NACOS_ADDR=127.0.0.1:8848

REDIS_PORT=6379
SEEDMALL_REDIS_HOST=127.0.0.1
SEEDMALL_REDIS_PORT=6379

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
SEEDMALL_RABBITMQ_HOST=127.0.0.1
SEEDMALL_RABBITMQ_PORT=5672
SEEDMALL_RABBITMQ_USERNAME=guest
SEEDMALL_RABBITMQ_PASSWORD=guest
